{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="auctionsHeading">Create New Listing</h2>

    <div id="createForm">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.name.errors}}
            <p></p>
            {{ form.description }}
            {{ form.description.errors}}
            <p></p>
            {{ form.highest_bid }}
            {{ form.highest_bid.errors }}
            <p></p>
            {{ form.image}}
            {{ form.image.errors }}
            <p></p>
            Category:
            {{ form.category }}
            {{ form.category.errors }}
            <p></p>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock %}