{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{ form.name.errors}}
        {{ form.name }}
        <p></p>
        {{ form.description.errors}}
        {{ form.description }}
        <p></p>
        {{ form.highest_bid.errors }}
        {{ form.highest_bid }}
        <p></p>
        {{ form.image.errors }}
        {{ form.image}}
        <p></p>
        {{ form.category.errors }}
        Category:
        {{ form.category }}
        <p></p>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock %}