{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings made by {{ username }}</h2>

    {% for auction in auctions %}
        <div>
            <a href="{% url 'listing' auction.id %}">{{ auction.name }}</a>
            {{ auction.created_on }}
            price: ${{ auction.highest_bid }} <!-- TODO take care of formatting the price -->
            {% if auction.image %}
                <img src="{{ auction.image }}" alt="Missing Image for {{ auction.name }}">
            {% endif %}
        </div>
    {% empty %}
        <h2>No auctions at the moment</h2>
    {% endfor %}
{% endblock %}